
.contenedor{
  display: flex;
  align-items: center;
  justify-content: center;
}

.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: center;
    height: 100px;
    width: 300px;
  }
  
  
  
  .tw-followCard-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 9px;
    
  }
  
  .tw-followCard-infoUserName {
    display: flex;
    flex-direction: column;
    opacity: .6;
  }
  
  .tw-followCard-names {
    display: flex;
    flex-direction: column;
  }
  
  
  .about-me-container {
    margin-top: 16px;
  }
  .About-me {
    clear: both;
  }
